
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

/* Resetting some default styles for better consistency */
body, h1, h2, h3, p, ul, li, figure {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* Header styles */
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    height: 13vh;
    background: transparent;
    width: 100%;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: black;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: #aa1e15;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #aa1e15;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

/* Cart section styles */
#cart {
    padding: 50px;
}

#cart table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}

#cart table img {
    width: 70px;
}

#cart table td:nth-child(1) {
    width: 100px;
    text-align: center;
}

#cart table td:nth-child(2) {
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(3) {
    width: 250px;
    text-align: center;
}

#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6) {
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(5) input {
    width: 70px;
    padding: 10px 5px 10px 15px;
}

#cart table thead {
    border: 1px solid #e2e9e1;
    border-left: none;
    border-right: none;
}

#cart table thead td {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding: 18px 0;
}

#cart table tbody tr td {
    padding-top: 15px;
}

#cart table tbody td {
    font-size: 15px;
}

.fa-solid {
    color: black;
}

#cart-add {
    display: flex;
    justify-content: center;
}

#subtotal {
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid #e2e9e1;
    padding: 30px;
}

#subtotal table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

#subtotal table td {
    width: 50%;
    border: 1px solid #e2e9e1;
    padding: 10px;
    font-size: 13px;
}

#subtotal h3 {
    padding-bottom: 15px;
}

#subtotal a {
    text-decoration: none;
    font-weight: bold;
    background-color: rgb(34, 129, 34);
    border-radius: 10px;
    padding: 10px;
    color: black;
}

#check {
    padding: 10px;
    margin-top: 10px;
    color: white;
    border: 0;
    border-radius: 10px;
    font-size: 15px;
    background-color: rgb(2, 131, 2);
}

/* Footer styles */
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo {
    height: 80px;
    margin-bottom: 20px;
}

footer h4 {
    font-size: 14px;
    padding-bottom: 20px;
}

footer p {
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a {
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

footer .follow {
    margin-top: 20px;
}

footer .follow i {
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}

footer .install .row img {
    border: 1px solid #088178;
    border-radius: 7px;
    width: 150px;
}

footer .install img {
    margin: 10px 0 15px 0;
}

footer .follow i:hover,
footer a:hover {
    columns: #088178;
}

footer .copyright {
    width: 100%;
    text-align: center;
}
